@model IEnumerable<QLSV.Models.MonHoc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/SinhVien/Views/Shared/_LayoutNV.cshtml";
}

<h2>Môn Học</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaMonHoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenMonHoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoTin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MaMonHoc)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TenMonHoc)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SoTin)
    </td>

</tr>
}

</table>
