@model IEnumerable<QLSV.Models.Khoa>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutADM.cshtml";
}

<h2>Khoa</h2>

<p>
    @Html.ActionLink("Thêm Mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaKhoa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenKhoa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DienThoai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MaKhoa)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TenKhoa)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DiaChi)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DienThoai)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.MaKhoa }) |
        @Html.ActionLink("Details", "Details", new { id = item.MaKhoa }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.MaKhoa })
    </td>
</tr>
}

</table>
